<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/templates/css/style.css">
	<link rel="shortcut icon" href="/templates/images/favicon.ico" type="image/x-icon">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<title>Главная</title>
</head>
<div id="crudApp">

	<body class="prep">

		<header class="Header">
			<div>
				<span>Isotope Tests</span>
			</div>
			<H2>
				Найди свою тему ВКР!
			</H2>
			<div>
				<div class="Header-image">
					<div class="Header-image-filter"></div>
				</div>
			</div>

		</header>
		<section>
			<div class="main">
				<div class="main-head">
					<h2>Выберите направление</h2>
					<button id="curs-find">Найти направление</button>
				</div>

				<template v-for="i in getObjsize()">
					<div v-if="soloEl && i==getObjsize()" class="main-content solo">
						<div class="main-content-elem">
							<a v-bind:href="'/Questions?q='+object[(i*2)-2].Link">
								<h3>[[object[(i*2)-2].Name]]</h3>
								<p>[[object[(i*2)-2].Description]]</p>
								<div v-bind:style="{backgroundImage: 'url('+object[(i*2)-2].Image+')', backgroundRepeat:'no-repeat', backgroundPosition: ['50%', '50%']}"></div>
							</a>
						</div>
					</div>
					<div v-if="(soloEl && i<getObjsize()) || !soloEl" class="main-content">
						<div class="main-content-elem">
							<a v-bind:href="'/Questions?q='+object[(i*2)-2].Link">
								<h3>[[object[(i*2)-2].Name]]</h3>
								<p>[[object[(i*2)-2].Description]]</p>
								<div v-bind:style="{backgroundImage: 'url('+object[(i*2)-2].Image+')', backgroundRepeat:'no-repeat', backgroundPosition: ['50%', '50%']}"></div>
							</a>
						</div>

						<div class="main-content-elem">
							<a v-bind:href="'/Questions?q='+object[(i*2)-1].Link">
								<h3>[[object[(i*2)-1].Name]]</h3>
								<p>[[object[(i*2)-1].Description]]</p>
								<div v-bind:style="{backgroundImage: 'url('+object[(i*2)-1].Image+')', backgroundRepeat:'no-repeat', backgroundPosition: ['50%', '50%']}"></div>
							</a>
						</div>
					</div>

				</template>



				<!-- <template v-for="i in object.length">
					<template v-if="(i-1)%2==0">
						<template v-if="object.length-(i-1)<2">
							<div class="main-content solo">
						</template>
						<template v-else>
							<div class="main-content">
						</template>

						<div class="main-content-elem">
							<a href="/Questions">
								<h3>[[object[i-1].Name]]</h3>
								<p>[[object[i-1].Description]]</p>
								<div v-bind:style="{backgroundImage: 'url('+object[i-1].Image+')', backgroundRepeat:'no-repeat', backgroundPosition: ['50%', '50%']}"></div>
							</a>
						</div>

						<template v-if="(i-1)%2 == 1">
							</div>
						</template>
					</template>
				</template> -->

			</div>
		</section>
		<div class="popup-window">
			<div class="popup-head">
				<h3>Поиск направления</h3>
				<img id="close" src="../images/cross.png" alt="Крестик">
			</div>

			<form action="/findC" method="post">
				<input type="text" class="inp-text" name="find" placeholder="Введите текст" required>
				<button type="submit">Найти</button>
			</form>
		</div>


	</body>
</div>
<script src="/templates/js/main.js"></script>

</html>