<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/templates/css/style.css">
	<link rel="shortcut icon" href="/templates/images/favicon.ico" type="image/x-icon">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<title>Главная</title>
</head>
<div id="crudApp">

	<body class="prep">

		<header class="Header">
			<div>
				<span>Isotope Tests</span>
			</div>
			<H2>
				Найди свою тему ВКР! [[temp]]
			</H2>
			<div>
				<div class="Header-image">
					<div class="Header-image-filter"></div>
				</div>
			</div>

		</header>
		<section>
			<div class="main">
				<div class="main-head">
					<h2>Выберите направление</h2>
					<button id="curs-find">Найти направление</button>
				</div>

				
			</div>
		</section>
		<div class="popup-window">
			<div class="popup-head">
				<h3>Поиск направления</h3>
				<img id="close" src="../images/cross.png" alt="Крестик">
			</div>

			<form action="/findC" method="post">
				<input type="text" class="inp-text" name="find" placeholder="Введите текст" required>
				<button type="submit">Найти</button>
			</form>
		</div>


	</body>
</div>
<script src="/templates/js/main.js"></script>

</html>