<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/templates/css/style.css">
	<link rel="shortcut icon" href="/templates/images/favicon.ico" type="image/x-icon">
	<title>Тест</title>
	<!-- <style>
		.main-head-pic{
			{% if cours.Image != None%}
				background: url(cours.Image) 50% 50% no-repeat;
			
			{% else %}
				background: url(images/Mask Group 1.png) 50% 50% no-repeat;
			{% endif %}
		}
	</style> -->
</head>
<body class="prep">
	<header class="Header">
		<div>
			<span>Isotope Tests</span>	
		</div>
		<H2>
			Найди свою тему ВКР!
		</H2>
		<div>
			<div class="Header-image">
				<div class="Header-image-filter"></div>
			</div>		
		</div>
	</header>
	<section>
		<div class="main main-kurs-edit">
			<div class="main-head"> 
				<div>
					<a href="coursTODO:">
						<img src="/templates/images/Arrow 1.png" alt="">
						Назад
					</a>
				</div>
				<div class="main-head-pic">
					<div>
						<h2>cours.NameTODO</h2>
					</div>
				</div>
			</div>
			<div class="main-head-bottom"> 
				<div>
					<h2>test.NameTODO</h2>
				</div>
			</div>
			<div class="main-content-title">
					<p>test.Title}}TODO</p>
			</div>
			{%if testactive == True%}
				<form action="/testcalc" class="main" method="post">
				{%for i in range(0, quelen)%}
					<div class="main-question" id="questionTODOquestions[i].ID}}">
						<h2>i+1}}TODO. TODOquestions[i].Name}}</h2>
						{%if questions[i].Image != None%}
							<!-- <img src="TODO url_for('static', filename=questions[i].Image)}}" alt="Картинка вопроса"> -->
						{%endif%}
						{%if questions[i].QuestionType == 1 %}
							{%for oneans in answers[i]%}
								<input class="inp-none" id="id_TODOquestions[i].ID}}_TODOoneans.ID}}"type="radio" name="TODOquestions[i].ID}}_A" value=TODOoneans.ID}}>
								<label for="id_TODOquestions[i].ID}}_TODOoneans.ID}}" class="label-ans">
									<div class="main-oneans">
											<div>
												{%if oneans.Number != None%}
													<span>TODOoneans.Number}}. TODOoneans.Name}}</span>
												{%else%}
													<span>TODOoneans.Name}}</span>
												{%endif%}
											</div>
									</div>
								</label>
							{%endfor%}
						{%endif%}
						{%if questions[i].QuestionType == 2 %}
							{%for oneans in answers[i]%}
								<input class="inp-none" id="id_TODOquestions[i].ID}}_TODOoneans.ID}}"type="checkbox" name="TODOquestions[i].ID}}_TODOoneans.ID}}" value=1>
								<label for="id_TODOquestions[i].ID}}_TODOoneans.ID}}" class="label-ans">
									<div class="main-oneans">
											<div>
												{%if oneans.Number != None%}
													<span>TODOoneans.Number}}. TODOoneans.Name}}</span>
												{%else%}
													<span>TODOoneans.Name}}</span>
												{%endif%}
											</div>
									</div>
								</label>
							{%endfor%}
						{%endif%}
						{%if questions[i].QuestionType == 3 %}
							{%for oneans in answers[i]%}
								<div>
									<input class="inp-ans" type="text" name="TODOquestions[i].ID}}_TODOoneans.ID}}" placeholder="Введите ответ">
								</div>
							{%endfor%}
						{%endif%}
					</div>
				{%endfor%}
				<button type="submit">Завершить тест</button>
				</form>
			{%else%}
				<div class="main-head-bottom"> 
				<div>
					<h2>Сейчас этот тест для вас недоступен</h2>
				</div>
			</div>
			{%endif%}
		</div>

	</section>


</body>
<script>
	let bg = document.querySelector('.Header-image');
	window.addEventListener('mousemove', function(e) {
	let x = e.clientX / window.innerWidth;
	let y = e.clientY / window.innerHeight;  
	bg.style.transform = 'translate(-' + x * 50 + 'px, -' + y * 50 + 'px)';});
</script>
</html>