<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/templates/css/style.css">
	<link rel="shortcut icon" href="/templates/images/favicon.ico" type="image/x-icon">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<title>Тест</title>
</head>

<div id = "TestWork">
	<body class="prep">
		<header class="Header">
			<div>
				<span>Isotope Tests</span>	
			</div>
			<H2>
				[[QuestionList.Name]]
			</H2>
			<div>
				<div class="Header-image" v-bind:style="{backgroundImage: 'url('+QuestionList.Image+')'}">
					<div class="Header-image-filter"></div>
				</div>		
			</div>
		</header>
		<section>
			<div class="main main-kurs-edit">
				<div class="main-head"> 
					<div>
						<a href="/">
							<img src="/templates/images/Arrow 1.png" alt="">
							На главную
						</a>
					</div>
				</div>
				<div class="main-content-title">
						<p>[[QuestionList.Description]]</p>
				</div>
					<form action="/testcalc" class="main" method="post">
						<template v-for="i in QuestLen()">				
							<div class="main-question">
								<h2>[[i]]. [[QuestionList.Questions[i-1].Question]]</h2>
								<img v-bind:src="QuestionList.Questions[i-1].Image" alt="Картинка вопроса">
								<template v-if="QuestionList.Questions[i-1].QuestionType == 1">
									<template v-for="oneans in QuestionList.questions[i-1].Answers">
										<input class="inp-none" v-bind:id="'Question'+(i-1)" type="radio" v-bind:name="'Question'+(i-1)" value="anscount">
										<label v-bind:for="'Question'+(i-1)" class="label-ans">
											<div class="main-oneans">
												<div>
													<span>[[anscount]]. [[oneans]]</span>
													[[anscount = anscount+1]]
												</div>
											</div>
										</label>
									</template>
									[[anscount = 1]]
								</template>
								<template v-if="QuestionList.Questions[i-1].QuestionType == 2">
									<template v-for="oneans in QuestionList.Questions[i-1].Answers">
										<input class="inp-none" v-bind:id="'Question'+(i-1)" type="checkbox" v-bind:name="'Question'+(i-1)" value=1>
										<label v-bind:for="'Question'+(i-1)" class="label-ans">
											<div class="main-oneans">
												<div>
													<span>[[anscount]]. [[oneans]]</span>
													[[anscount = anscount+1]]
												</div>
											</div>
										</label>
									</template>
									[[anscount = 1]]
								</template>
							</div>
						</template>
						<button type="submit">Завершить тест</button>
					</form>
			</div>
		</section>
	</body>
</div>

<script src="/templates/js/TestWork.js"></script>
</html>