<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/templates/css/style.css">
	<link rel="shortcut icon" href="/templates/images/favicon.ico" type="image/x-icon">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<div id="TestResult">
	<body class="prep">
		<header class="Header">
			<div>
				<span>Isotope Tests</span>	
			</div>
			<H2>
				Ваши результаты
			</H2>
			<div>
				<div class="Header-image">
					<div class="Header-image-filter"></div>
				</div>		
			</div>
		</header>
		<section>
			<div class="main main-kurs-edit" style="margin-bottom: 30px;">
				<div class="main-head"> 
					<div>
						<a href="/">
							<img src="/templates/images/Arrow 1.png" alt="">
							На главную
						</a>
					</div>
				</div>
				<div class="main-head-bottom"> 
					<div>
						<h2>Рассмотрите предложенные темы:</h2>
					</div>
				</div>
			</div>
			<div class="main" style="margin-top: 0px ;">
				<div v-for="i in result.length" class="answer-dist" v-on:click="clickFu(i-1)">
					<h2> [[i]]. [[result.Name]] </h2>
					<div v-for="j in result.themes.length" class="vkr-theme" v-bind:class="{'vkr-theme-active': clicked[i-1]}">
						<h3> [[i]].[[j]] [[result.themes[j-1].Name]]</h3>
						<p>[[result.themes[j-1].Description]]</p>
					</div>
				</div>
			</div>
		</section>
	</body>
</div>
<script src="/templates/js/TestResult.js"></script>
</html>