<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/templates/css/style.css">
	<link rel="shortcut icon" href="/templates/images/favicon.ico" type="image/x-icon">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body class="prep">
	<header class="Header">
		<div>
			<span>Isotope Tests</span>	
		</div>
		<H2>
			Ваши результаты
		</H2>
		<div>
			<div class="Header-image">
				<div class="Header-image-filter"></div>
			</div>		
		</div>
	</header>
	<section>
		<div class="main main-kurs-edit">
			<div class="main-head"> 
				<div>
					<a href="/">
						<img src="/templates/images/Arrow 1.png" alt="">
						На главную
					</a>
				</div>
			</div>
</body>
</html>