<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/templates/css/style.css">
	<link rel="shortcut icon" href="/templates/images/favicon.ico" type="image/x-icon">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<title>Тест</title>
</head>

<div id = "TestWork">
	<body class="prep">
		<header class="Header">
			<div>
				<span>Isotope Tests</span>	
			</div>
			<H2>
				[[questionList.Name]]
			</H2>
			<div>
				<div class="Header-image" v-bind:style="{backgroundImage: 'url('+questionList.Image+')'}">
					<div class="Header-image-filter"></div>
				</div>		
			</div>
		</header>
		<section>
			<div class="main main-kurs-edit">
				<div class="main-head"> 
					<div>
						<a href="/">
							<img src="/templates/images/Arrow 1.png" alt="">
							На главную
						</a>
					</div>
				</div>
				<div class="main-content-title">
						<p>[[questionList.Description]]</p>
				</div>
					<form action="/testcalc" class="main" method="post">
						<template v-for="(value,index) in questionList.Questions">				
							<div class="main-question">
								<h2>[[index+1]]. [[value.Question]]</h2>
								<img v-if="value.Image !=''" v-bind:src="value.Image" alt="Картинка вопроса">
								<template v-if="value.QuestionType == 1">
									<template v-for="(oneans, indexans) in value.Answers">
										<input class="inp-none" v-bind:id="'Question'+index+indexans" type="radio" v-bind:name="'Question'+index" v-bind:value="indexans">
										<label v-bind:for="'Question'+index+indexans" class="label-ans">
											<div class="main-oneans">
												<div>
													<span>[[indexans+1]]. [[oneans]]</span>
												</div>
											</div>
										</label>
									</template>
								</template>
								<template v-if="value.QuestionType == 2">
									<template v-for="(oneans, indexans in value.Answers">
										<input class="inp-none" v-bind:id="'Question'+index+indexans" type="checkbox" v-bind:name="'Question'+index+'_'+indexans" value=1>
										<label v-bind:for="'Question'+index+indexans" class="label-ans">
											<div class="main-oneans">
												<div>
													<span>[[indexans+1]]. [[oneans]]</span>
												</div>
											</div>
										</label>
									</template>
								</template>
							</div>
						</template>
						<button type="submit">Завершить тест</button>
					</form>
			</div>
		</section>
	</body>
</div>

<script src="/templates/js/TestWork.js"></script>
</html>